@{
    ViewBag.Title = "Home Page";
}

<div>

    <ul>
        <li>@Html.ActionLink("Default validation example", "DefaultValidationEx") </li>
        <li>@Html.ActionLink("Custom validation Example", "CustomValidationEx")</li>
    </ul>

</div>